langchain-community>=0.4.2
langchain-pinecone>=0.2.0
pinecone>=7.0.0,<8.0.0
langchain-openai>=1.6.3
fastembed>=0.7
numpy<2
python-dotenv>=1.2.3
gradio>=5.0,<6
fastapi==0.115.2
starlette==0.38.6
pydantic>=2.11.1,<2.12
huggingface_hub<1.0
